<div *ngIf="hideToken">
  <div>
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Paste your TokenId"
        ngModel
        name="tokenId"
        required
        #tokenValue
      />
    </mat-form-field>
    <div fxLayoutAlign="center center">
      <button
        mat-raised-button
        color="primary"
        [disabled]="tokenValue.value === ''"
        (click)="onconfirmReset(tokenValue.value)"
      >
        Submit
      </button>
    </div>
  </div>
</div>
<div *ngIf="!hideToken">
  <div>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" #password />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Confirm Password"
        #confirmPassword
      />
    </mat-form-field>
  </div>
  <div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="
        password.value === '' || !(password.value === confirmPassword.value)
      "
      (click)="onPasswordReset(password.value)"
    >
      Reset Password
    </button>
  </div>
</div>
