<form [formGroup]="libchangepwdForm" (ngSubmit)="onChangePassword()">
  <!-- <div>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Registered MailId"
        formControlName="userEmail"
      />
    </mat-form-field>
  </div> -->
  <div>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Old Password"
        formControlName="oldPassword"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="New Password"
        formControlName="newPassword"
        #password
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Confirm New Password"
        formControlName="confirmPassword"
        #confirmPassword
      />
    </mat-form-field>
  </div>
  <div>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="
        libchangepwdForm.invalid || password.value !== confirmPassword.value
      "
    >
      Change Password
    </button>
  </div>
</form>
