<div>
  <br />
  <br />
  <section *ngIf="showFields">
    <form (ngSubmit)="onForgotpwd(form)" #form="ngForm">
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Registered Mail Id"
            ngModel
            name="email"
            required
            email
          />
        </mat-form-field>
      </div>
      <div fxLayoutAlign="center center">
        <button mat-raised-button type="submit" color="primary">
          Request Password
        </button>
      </div>
    </form>
  </section>
</div>
<section fxFlex fxLayout="row" fxLayoutAlign="center center">
  <router-outlet></router-outlet>
</section>
