input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

mat-form-field {
  width: 200px;
}
input[type='file'] {
  visibility: hidden;
}
.image-preview {
  height: 10rem;
  margin: 0rem;
}
.image-preview img {
  height: 100%;
}
